


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logn{
  color: green;
}

.box3{
  position: absolute;
  left: 100px;
}



/* @media(max-width:1000px){
  .main-box2{
    display: flex;
    margin-top: 10px;
    font-size: 2rem;
    flex-wrap: wrap;
    
    
     
  }
  

} */

.boxline{ border-left: 2px solid;
  min-height: 400px;
  position: absolute;
  left:50%;
  top: 10%;

}
